---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Space - an example page">
  <ul>
    <li data-code="AP-11" data-year="1969">
      <strong>Apollo 11</strong>
      - First crewed lunar landing mission. Neil Armstrong and Buzz Aldrin
      walked on the Moon.
    </li>
    <li data-code="VOY-1" data-year="1977">
      <strong>Voyager 1</strong>
      - Space probe launched by NASA to study the outer Solar System and
      interstellar space.
    </li>
    <li data-code="JWST" data-year="2021">
      <strong>James Webb Space Telescope</strong>
      - An infrared space observatory designed to study deep space galaxies.
    </li>
  </ul>
</BaseLayout>
