---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Tech-support - an example page">
  <ul>
    <li>
      To reset your account password, click the 'Forgot Password' link on the
      login page and enter your email.
    </li>
    <li>
      Invoices are generated on the first day of the month. Download them as a
      PDF from your billing dashboard.
    </li>
    <li>
      Enable dark theme or night mode by navigating to Settings and selecting
      Appearance.
    </li>
  </ul>
</BaseLayout>
